<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

<head th:fragment="headers">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Music Market</title>
    <link rel="stylesheet" href="/static/css/libraries/bootstrap/bootstrap.css">
    <script src="/static/js/libraries/vue/vue.js"></script>
    <script src="/static/js/libraries/vue/vuex.js"></script>
    <script src="/static/js/libraries/vue/vue-resource.js"></script>
</head>

</body>

</html>